@* ShowDept.cshtml*@
@* クラスの名前空間を指定する(C#と同じ) *@
@using WebApp_Src.Presentations.ViewModels
@* View が受け取るデータ型（ViewModel）を宣言asp-for はこの型のプロパティと結びつける *@
@model List<EmployeeListViewModel>
@{
    ViewData["Title"] = "社員一覧";
}
<h2 class="text-center mt-4">@ViewData["Title"]</h2>

<div class="container mt-4">
    <div class="row justify-content-center">
        @*<div class="col-md-4 col-sm-6">*@
        @* 表形式で表示*@
        <style>
                    .table-emp {
                        width: 100%;
                        border-collapse: collapse;
                    }

                    .table-emp tr {
                        background-color: #fff;
                        border: 1px solid #bbb;
                        padding: .35em;
                    }

                    .table-emp th,
                    td {
                        padding: 1em 10px 1em 1em;
                        border-right: 1px solid #bbb;
                    }

                    .table-emp th {
                        background-color: #eee;
                    }

                    .emp-name {
                        font-weight: bold;
                    }

                    .table-emp td {
                        white-space: nowrap;
                    }
        </style>
        <figure class="wp-block-table is-style-stripes">
            <table class="table-emp">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="emp-name">氏名</th>
                        <th>メールアドレス</th>
                        <th>電話番号</th>
                        <th>部門</th>
                        <th>更新</th>
                        <th>削除</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.EmpId</td>
                            <td class="emp-name">@item.EmpName</td>
                            <td>@item.EmpMailadress</td>
                            <td>@item.EmpPhonenumber</td>
                            <td>@item.DeptName</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="EmployeeUpdate" asp-action="Enter"
                                   asp-route-id="@item.EmpId">
                                    更新
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="DeleteEmployee" asp-action="Confirm"
                                   asp-route-id="@item.EmpId">
                                    削除
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </figure>
        @* メニューに戻る *@
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-3 ms-2">メニューに戻る</a>

        @*</div>*@

    </div>
</div>
</div>